* {
  margin: 0;
}

header {
  padding: 1rem;
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;

  h2 {
    margin-right: auto;
    margin-left: 2rem;
  }

  nav {
    display: flex;
    justify-content: space-around;
    a {
      margin: 0rem 2rem;
    }
  }
}
