* {
  box-sizing: border-box;
  margin: 0;
}

header {
  z-index: 10;
  position: fixed;
  height: 48px;
  width: 100vw;
  box-shadow: 0px 5px 4px 0px rgb(193, 193, 193);
  display: flex;
  align-items: center;
  background-color: white;
}
header div.logo {
  width: 216px;
  height: 32px;
  margin: 0 1rem;
  flex-shrink: 0;
}
header nav {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
}
header nav div {
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav div a {
  text-decoration: none;
  color: rgb(106, 106, 108);
}
header nav .button1 {
  width: 113px;
}
header nav .button2 {
  width: 96px;
}
header nav .button3 {
  width: 80px;
}
header nav .button4 {
  width: 73px;
}
header nav .button5 {
  width: 130px;
}
header nav .button6 {
  width: 150px;
}
header nav .button7 {
  width: 65px;
}
header div.side-function {
  width: 470px;
  height: 48px;
  padding-right: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
}
header div.side-function div.search {
  width: 200px;
  height: 36px;
  background-color: rgb(241, 243, 244);
  display: flex;
  align-items: center;
}
header div.side-function div.search div.search-icon {
  margin: 0 0.5rem;
  width: 24px;
  height: 24px;
  background-image: url("../img/search.png");
  background-size: cover;
}
header div.side-function div.search input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgb(241, 243, 244);
}
header div.side-function div.search input:focus {
  outline: none;
}
header div.side-function div.language {
  width: 150px;
  height: 36px;
}
header div.side-function div.language :hover {
  cursor: pointer;
  background-color: rgb(241, 243, 244);
}
header div.side-function div.language button {
  margin: auto;
  width: 150px;
  height: 36px;
  padding: 0 0.4rem;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 3px;
  background-color: white;
  display: flex;
  align-items: center;
}
header div.side-function div.language button span {
  font-size: 1rem;
}
header div.side-function div.language button img.globe {
  height: 24px;
  width: 24px;
  margin-right: 0.5rem;
}
header div.side-function div.language button img.arrow {
  height: 10px;
  width: 10px;
  margin-left: 0.5rem;
}
header div.side-function div.div-profile {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
header div.side-function div.div-profile button {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  border: 1px solid rgb(218, 220, 224);
}
header div.side-function div.div-profile button:hover {
  cursor: pointer;
  background-color: rgb(241, 243, 244);
}
header div.side-function div.div-profile button img.user {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
header div.side-function div.div-profile button img.dots {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

main {
  padding-top: 48px;
}
main section.translate {
  height: 63px;
  background-color: rgb(241, 243, 244);
  display: flex;
  align-items: center;
}
main section.translate div.text {
  margin-right: auto;
  margin-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
main section.translate div.text span.translate {
  margin-left: 1rem;
  width: 155px;
  font-size: 0.7rem;
}
main section.translate div.text span.cloud {
  margin-left: 1rem;
  font-size: 0.8rem;
}
main section.translate div.change-language {
  flex-shrink: 0;
  margin-right: 2rem;
  width: 160px;
  height: 35px;
}
main section.translate div.change-language :hover {
  cursor: pointer;
  background-color: rgb(175, 211, 229);
}
main section.translate div.change-language button {
  width: 160px;
  height: 35px;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 3px;
  background-color: white;
}
main section.banner {
  display: flex;
  padding: 4rem 0rem;
  align-items: center;
  justify-content: center;
}
main section.banner div.banner-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
}
main section.banner div.banner-container div.wording {
  flex: 1 2 600px;
  padding-left: 1rem;
}
main section.banner div.banner-container div.wording h1 {
  font-size: 5rem;
}
main section.banner div.banner-container div.wording p {
  font-size: 1.5rem;
}
main section.banner div.banner-container div.video-box {
  flex: 1 2 700px;
}
main section.banner div.banner-container div.video-box div.my-app {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
main section.banner div.banner-container div.video-box div.my-app h2 {
  margin-right: 1rem;
}
main section.banner div.banner-container div.video-box div.my-app div.app-list {
  display: flex;
  flex-wrap: wrap;
}
main section.banner div.banner-container div.video-box div.my-app div.app-list a {
  display: block;
  padding: 0.3rem 1.4rem;
  margin-right: 1rem;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 0.9rem;
  text-decoration: none;
  color: rgb(63, 135, 235);
}
main section.interested-category {
  background-color: rgb(241, 243, 244);
  padding-top: 2rem;
  padding-bottom: 1rem;
}
main section.interested-category div.interested-container {
  padding: 0 24px;
}
main section.interested-category div.select-wording {
  display: flex;
  align-items: center;
  padding: 0 2rem 0.5rem 2rem;
}
main section.interested-category div.select-wording div.left {
  margin-right: auto;
  font-size: 1.2rem;
  color: rgb(114, 114, 114);
  display: flex;
  align-items: center;
}
main section.interested-category div.select-wording div.left div.select-interest-category-icon {
  margin-left: 1rem;
  height: 18px;
  width: 18px;
  background-image: url(./../img/exclamation.png);
  background-size: cover;
}
main section.interested-category div.select-wording div.left div.select-interest-category-icon:hover {
  cursor: pointer;
}
main section.interested-category div.select-wording a.build-setting {
  display: flex;
  align-items: center;
}
main section.interested-category div.select-wording a.build-setting div.user-icon {
  width: 15px;
  height: 15px;
  background-image: url(../img/user.png);
  background-size: cover;
  margin: 0 0.8rem;
}
main section.interested-category div.select-wording a.build-setting p {
  text-decoration: none;
  color: rgb(26, 115, 232);
}
main section.interested-category div.category-bar nav {
  width: 100%;
  background-color: rgb(241, 243, 244);
  padding: 0 1rem;
  overflow: scroll;
}
main section.interested-category div.category-bar nav::-webkit-scrollbar {
  display: none;
}
main section.interested-category div.category-bar nav div.category-container {
  width: 2500px;
  display: flex;
}
main section.interested-category div.category-bar nav .interest-item {
  margin: 1rem 0.5rem;
}
main section.interested-category div.category-bar nav .interest-item input {
  display: none;
}
main section.interested-category div.category-bar nav .interest-item input[type=checkbox]:checked + label {
  background-color: rgb(232, 240, 254);
  border-color: rgb(26, 115, 232);
}
main section.interested-category div.category-bar nav .interest-item label {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: white;
  padding: 0.3rem 1rem;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 8px;
}
main section.interested-category div.category-bar nav .interest-item label:hover {
  cursor: pointer;
  background-color: rgb(234, 235, 236);
}
main section.interested-category div.news-content {
  width: 100%;
  display: flex;
  overflow: scroll;
}
main section.interested-category div.news-content div.news-container {
  display: flex;
  width: 100%;
}
main section.interested-category div.news-content div.news-box {
  flex: 1 1 25%;
  box-sizing: border-box;
  background-color: white;
  border: 1.5px solid rgb(218, 220, 224);
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
  min-width: 23%;
}
main section.interested-category div.news-content div.news-box div.news-type {
  display: flex;
  align-items: center;
}
main section.interested-category div.news-content div.news-box div.news-type img {
  height: 18px;
  width: 18px;
  margin-right: 2px;
}
main section.interested-category div.news-content div.news-box div.news-title {
  margin: 1rem 0 1rem 0;
  overflow: hidden;
}
main section.interested-category div.news-content div.news-box div.news-title a {
  text-decoration: none;
  color: rgb(27, 115, 232);
}
main section.interested-category div.news-content div.news-box div.fast-read {
  overflow: hidden;
}
main section.interested-category div.news-content div.news-box div.func-type {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}
main section.interested-category div.news-content div.news-box div.func-type img {
  height: 25px;
  width: 25px;
  margin-right: 0.7rem;
}
main section.products {
  border: 1px solid black;
  padding: 40px;
}
main section.products div.heading {
  height: 67px;
  text-align: center;
  font-size: 2rem;
}
main section.products div.products-list {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
main section.products div.products-list div.product {
  border: 1px solid rgb(218, 220, 224);
  border-radius: 10px;
  margin: 0.5rem;
  min-height: 270px;
  height: 1px;
  min-width: 200px;
  flex: 1 0 21%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main section.check-development {
  height: 112px;
  border: 1px solid red;
}
main section.news {
  height: 550px;
  border: 1px solid blue;
}
main section.other-function div.android {
  height: 480px;
  background-color: rgb(241, 243, 244);
}
main section.other-function div.look-for-event {
  height: 430px;
  border: 1px solid black;
}
main section.other-function div.learning {
  height: 430px;
  border: 1px solid brown;
}
main section.other-function div.look-for-event {
  height: 430px;
  border: 1px solid black;
}
main section.other-function div.community {
  height: 430px;
  border: 1px solid brown;
}/*# sourceMappingURL=style.css.map */