doctype html
html 
    head 
        title Assignment 
       
    body 
        div 註冊會員
        form(action="/home/signup" method="post" id="signup-form")
            label(for="signup-email") email 
            input(type="text" id="signup-email" name="email") 
            label(for="signup-password") password 
            input(type="text" id="signup-password" name="password") 
            button(type="button" id="signup-submit") 註冊
        div 會員登入
        form(action="/home/login" method="post" id="login-form")
            label(for="login-email") email 
            input(type="text" id="login-email" name="email") 
            label(for="login-password") password
            input(type="text" id="login-password" name="password") 
            button(type="button" id="login-submit" ) 登入
        script
            include ${__dirname}/../js/homeAjax.js